<div
  class="course-card"
  [appCourseCardBorder]="course.date"
  [ngClass]="{ 'course-card__top-rated-bg': course.rating === 5 }"
>
  <div class="course-card__data">
    <div class="course-card__title">
      <h3>
        {{ course.title | uppercase | slice: 0:30 }} {{ isNewCtrl }}
        <span *ngIf="course.rating === 5" class="course-card__rating-icon"
          ><i class="material-icons">star</i>
        </span>
      </h3>
      <div class="course-card__datetime-info">
        <span
          ><i class="material-icons">access_time</i>
          {{ course.duration | duration }}</span
        >
        <span
          ><i class="material-icons">date_range</i>
          {{ course.date | date }}</span
        >
      </div>
    </div>
    <div class="course-card__description">{{ course.description }}</div>
  </div>
  <div class="course-card__control">
    <a
      class="btn waves-effect waves-light"
      routerLink="/courses/{{ course.id }}"
      routerLinkActive="active"
    >
      Edit <i class="material-icons left">edit</i>
    </a>
    <button
      type="button"
      class="btn waves-effect waves-light js-delete"
      (click)="onDeleteClick()"
    >
      Delete <i class="material-icons left">delete</i>
    </button>
  </div>
</div>
