<div class="course-card">
  <div class="course-card__data">
    <div class="course-card__title">
      <h3>{{ courseData.title }}</h3>
      <div class="course-card__datetime-info">
        <div>{{ courseData.duration }}</div>
        <div>{{ courseData.date }}</div>
      </div>
    </div>
    <div class="course-card__description">{{ courseData.description }}</div>
  </div>
  <div class="course-card__control">
    <button class="btn waves-effect waves-light">
      Add <i class="material-icons left">add</i>
    </button>
    <button class="btn waves-effect waves-light">
      Delete <i class="material-icons left">delete</i>
    </button>
  </div>
</div>
