<div class="cloud-tags-wrapper">
  <span
    *ngIf="selectedItemsControl.errors?.emptyCollection"
    class="validator-alert"
  >
    at least one item required
  </span>
  <input
    placeholder="Start to enter item name"
    type="text"
    [formControl]="currentItemControl"
    (keyup)="onInputKeyUp($event)"
    class="cloud-tags-input"
    [class.control-alert]="selectedItemsControl.errors"
  />

  <ul class="dropdownList">
    <li
      *ngFor="let item of proposedItems; let i = index"
      class="dropdownList_item"
      [class.dropdownList_selectedItem]="i === currentProposedItemIndex"
    >
      {{ item }}
    </li>
  </ul>
</div>

<div>
  <app-tag
    *ngFor="let item of selectedItems"
    [item]="item"
    (clickDeleteEvent)="onTagDeleteClick($event)"
  ></app-tag>
</div>
