<form class="course-edit-form" [formGroup]="courseForm">
  <app-title-control
    formControlName="title"
    (errorsRaiseEvent)="onErrorsRaise($event)"
  ></app-title-control>
  <app-description-control
    formControlName="description"
    (errorsRaiseEvent)="onErrorsRaise($event)"
  ></app-description-control>
  <app-date-control
    formControlName="date"
    (errorsRaiseEvent)="onErrorsRaise($event)"
  ></app-date-control>
  <app-duration-control
    formControlName="duration"
    (errorsRaiseEvent)="onErrorsRaise($event)"
  ></app-duration-control>

  <div class="control-group">
    <label for="form_author">Author:</label>
    <input
      id="form_author"
      placeholder="Author"
      type="text"
      formControlName="author"
    />
  </div>

  <div class="control-group">
    <label>Authors:</label>
    <app-cloud-tags-input
      [items]="authors"
      [prop]="'name'"
      (itemsChangeEvent)="onAuthorsChange($event)"
    ></app-cloud-tags-input>
  </div>

  <div class="control-group control-group-row">
    <a
      class="btn waves-effect waves-light"
      routerLink="/courses"
      routerLinkActive="active"
    >
      Cancel
    </a>
    <button
      type="button"
      class="btn waves-effect waves-light"
      (click)="onSaveClick()"
      [disabled]="title.errors"
    >
      Save
    </button>
  </div>
</form>
