/* You can add global styles to this file, and also import other style files */

html {
  font-size: 10px;
}

@clr-violet: #9179ba;
@clr-light-violet: #ac96d2;
@clr-dark-violet: #7c61aa;
@clr-green: #4a8756;
@clr-coral: #ff7062;
@clr-light-coral: #ff9489;
@clr-white: #fff;
@clr-light-gray: #ccc;
@clr-grey: #999;
@clr-black: #333;
@clr-deep-black: #111;

.btn {
  background-color: @clr-dark-violet;
}

@main-bg: @clr-violet;

@gaps: 1.6rem;

.control-group {
  margin-bottom: @gaps;
}

.control-group-row {
  display: flex;
  justify-content: flex-end;

  & button,
  a,
  input {
    margin-left: @gaps;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
