/* You can add global styles to this file, and also import other style files */

html {
  font-size: 10px;
}

@clr-violet: #9179ba;
@clr-light-violet: #ac96d2;
@clr-dark-violet: #7c61aa;
@clr-green: #4a8756;
@clr-red: #e10600;
@clr-coral: #ff7062;
@clr-light-coral: #ff9489;
@clr-white: #fff;
@clr-light-gray: #ccc;
@clr-grey: #999;
@clr-black: #333;
@clr-deep-black: #111;

@vail-white-70: rgba(255, 255, 255, 0.7);
@vail-white-50: rgba(255, 255, 255, 0.5);
@vail-white-30: rgba(255, 255, 255, 0.3);

@vail-black-70: rgba(0, 0, 0, 0.7);
@vail-black-50: rgba(0, 0, 0, 0.5);
@vail-black-30: rgba(0, 0, 0, 0.3);

.btn {
  background-color: @clr-dark-violet;
}

@main-bg: @clr-violet;

@gaps: 1.6rem;

.control-group {
  margin-bottom: @gaps;
}

.control-group-row {
  display: flex;
  justify-content: flex-end;

  & button,
  a,
  input {
    margin-left: @gaps;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.validator-alert {
  float: right;
  font-size: 1.2em;
  color: @clr-red;
}

.control-alert {
  border-bottom-width: 2px !important;
  border-bottom-color: @clr-red !important;
}
